@charset "ISO-8859-1";
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define a global font family and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header styles */
header {
    background-color: white;
    color: #fff;
    width:100%;
    padding: 20px 0;
    position:fixed;
    display: flex;
    z-index:2;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.live-on {
    width: 25px;
}
.live {
    width: 70px;
}

.user ul {
    list-style: none;
    display: flex;
}

.user li {
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.user a {
    color: black;
    text-decoration: none;
}
/* Sidebar styles */
.side-item {
    background-color: #6e27d1;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
}

.side-menu ul {
    list-style: none;
    padding: 10px;
margin-top:100px;
}

.side-menu li {
    margin-bottom: 50px;
}

.side-menu a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding:3px;
    font-size:20px;
}

.side-menu .fa-solid {
    margin-right: 10px;
}

/* Main content styles */
main {
    margin-left: 250px;
    padding: 20px;
}

/* Product container styles */
.product-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px;
    gap: 70px;
}
.container a{
    text-decoration: none;
    color: #0d0c22;
}
.star-icon {
	color: #FFD700;
	font-size: 20px;
}

.filled-star {
	color: #FFD700;
}

.card {
    width: 250px;
    height: 354px;
    padding: .8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ffffff;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffffff;
    height: 60%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   .card-img img{
    width: 100%;
    height: 100%;
   }
   .card-info {
    margin-top: 5%;
    /* padding-top: 10%; */
   }
   
   /* svg {
    width: 20px;
    height: 20px;
   }
    */
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
   }
   .text-title1 {
     font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
   }
   /*Button*/
   .card-button {
    /* border: 1px solid #252525; */
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-10%);
    box-shadow: rgba(127, 127, 125, 0.25) 0px 13px 47px -5px, rgba(71, 68, 68, 0.3) 0px 8px 16px -8px;
   }
   
   .product-section {
	display: flex;
	justify-content: space-between;
	height: 550px;
	width: 1400px;
	margin-top: 50px;
	margin-left: 50px;
	/* 
    margin-right: 100px; */
	border-radius: 10px;
	/* border: black solid;
    background-color: #ffffff57; */
	box-sizing: border-box;
}

.products {
	margin-top: 2%;
	margin-left: 4%;
	display: flex;
	flex-direction: column;
	width: 500px;
	justify-content: space-evenly;
	/* align-items: center; */
}

.engine {
	height: 350px;
	width: 350px;
	padding: 15px;
	margin-left: 3%;
}

.products ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-right: 10px;
}

ul img {
	height: 120px;
	width: 120px;
	border: solid 1.5px black;
}

ul li img:hover {
	height: 120px;
	width: 120px;
	border: solid 1px black;
	/*  padding: 5px; */
}

.list-btn {
	display: inline-block;
	justify-content: space-between;
}

.list-btn span {
	padding: 10px;
}

.list-btn button {
	color: #EEEEEE;
	background-color: #3F0071;
	width: 150px;
	height: 40px;
	border: none;
	padding: 2px;
	font-weight: 600;
	font-size: 16px;
	border-radius: 4px;
	margin-right: 10px;
}

.list-btn button:hover {
	color: #EEEEEE;
	background-color: #6a1fa7;
}

.product-ditails {
	margin-top: 2%;
	height: 490px;
	width: 800px;
	margin-left: 4%;
	display: flex;
	margin-right: 1%;
	flex-direction: column;
	justify-content: space-around;
	align-items: start;
}

.product-ditails p {
	font-size: 20px;
}

#about_product {
	font-size: 20px;
	font-weight: bold;
}

.star1 span {
	font-size: 25px;
	font-weight: bolder;
}

.star1  i {
	padding-left: 15px;
	margin-top: 10px;
}

.card-button {
	/* border: 1px solid #252525; */
	display: flex;
	padding: .3em;
	cursor: pointer;
	border-radius: 50px;
	transition: .3s ease-in-out;
}

.star-icon {
	color: #FFD700;
	font-size: 20px;
}

.filled-star {
	color: #FFD700;
}

.description1 {
	width: auto;
	padding-right: 55px;
}

.description1 p {
	text-align: justify;
}
