body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.container {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 100px;
    gap: 50px;
}
.container a{
    text-decoration: none;
    color: #0d0c22;
}
.star-icon {
	color: #FFD700;
	font-size: 20px;
}

.filled-star {
	color: #FFD700;
}

.card {
    width: 250px;
    height: 354px;
    padding: .8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ffffff;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-color: #ffffff;
    height: 60%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   .card-img img{
    width: 100%;
    height: 100%;
   }
   .card-info {
    margin-top: 5%;
    /* padding-top: 10%; */
   }
   
   /* svg {
    width: 20px;
    height: 20px;
   }
    */
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
   }
   .text-title1 {
     font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
   }
   /*Button*/
   .card-button {
    /* border: 1px solid #252525; */
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-10%);
    box-shadow: rgba(127, 127, 125, 0.25) 0px 13px 47px -5px, rgba(71, 68, 68, 0.3) 0px 8px 16px -8px;
   }
